<script setup>
  import Menu from "./Components/Menu.vue"
  import Footer from "./Components/Footer.vue"
  import Nav from "./Components/Nav.vue"
  import getRouteRepositories from './Composables/getRouteRepositories'
  import mainUrl from '../../../themes/sneat/assets/js/main.js?url'
  import { provide } from "vue"
  import SweetalertMessages from "@/BuiltIn/Components/SweetalertMessages/Index.vue"

  const router = getRouteRepositories()

  provide("appDataProvider", { router })
</script>

<template>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <Menu></Menu>

      <div class="layout-page">
        <Nav></Nav>

        <div class="content-wrapper">
          <div class="container-fluid flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">
              <slot name="header"></slot>
            </h4>
            <slot></slot>
          </div>

          <Footer></Footer>

          <div class="content-backdrop fade"></div>
        </div>
      </div>

    </div>
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <remote-script :src="mainUrl"></remote-script>
  <SweetalertMessages></SweetalertMessages>
</template>
