<script setup>
  import { Head, Link } from '@inertiajs/vue3'

  const props = defineProps({
    meta: Object,
    links: Object,
  })
</script>

<template>
  <nav aria-label="Page navigation">
    <ul class="pagination"
      v-if="meta.links.length > 3"
    >
      <li class="page-item first" v-if="meta.current_page != 1">
        <Link :href="meta.path + '?page=1'"><i class="tf-icon bx bx-chevrons-left"></i></Link>
      </li>

      <template v-for="(link, key) in meta.links"
        :key="key"
      >
        <li class="page-item prev" v-if="link.label =='pagination.previous'"
          :class="{ 'disabled': !link.url }"
        >
          <Link :href="link.url ?? '#'"><i class="tf-icon bx bx-chevron-left"></i></Link>
        </li>
        <li class="page-item next" v-else-if="link.label =='pagination.next'"
          :class="{ 'disabled': !link.url }"
        >
          <Link :href="link.url ?? '#'"><i class="tf-icon bx bx-chevron-right"></i></Link>
        </li>
        <li v-else-if="link.label =='...'">
          <span>{{ link.label }}</span>
        </li>
        <li v-else
          :class="{ 'active': link.active }"
        >
          <Link class="page-link" :href="link.url ?? '#'">{{ link.label }}</Link>
        </li>
      </template>

      <li class="page-item last" v-if="meta.current_page != meta.last_page">
        <Link :href="meta.path + '?page=' + meta.last_page"><i class="tf-icon bx bx-chevrons-right"></i></Link>
      </li>

    </ul>
  </nav>
</template>
