<script setup>
  import { useButtonFunctions } from './Composables/buttonFunctionsHandler'
  import { computed, reactive, ref, watch, toRef } from 'vue'
  const emit = defineEmits(['submit', 'cancel'])
  const props = defineProps({
    state: Object,
    disabled: Boolean,
    processing: Boolean,
    check: { type: Boolean, required: false, default: false }
  })

  const button = useButtonFunctions(props)
  const isChanged = button.isChanged()
</script>

<template>
  <template
    v-if="isChanged"
  >
    <button type="submit" class="btn btn-primary me-2"
      :disabled="disabled"
      @click="$emit('submit')"
    >
      <span class="tf-icons bx bx-save"></span>&nbsp; 儲存
    </button>
    <button type="reset" class="btn btn-outline-secondary"
      @click="$emit('cancel')"
    >取消</button>
  </template>
</template>
