<template>
  <div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
      <slot name="head"></slot>
    </div>
    <div class="card-body">
      <slot name="body-1"></slot>
    </div>
    <hr class="my-0">
    <div class="card-body">
      <slot name="body-2"></slot>
    </div>
  </div>
</template>
