<script setup>
  import AppLayout from "@/Backend/Layouts/AppLayout.vue"
</script>

<template>
  <AppLayout>
    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
        </div>
      </div>
    </div>
  </AppLayout>
</template>
