.card.card-action {
	text-align: center;
}

.card.card-action.card-fix {
	position: fixed;
	bottom: 0;
	z-index: 1;
	margin-bottom: 1rem;
	width: calc(100vw - (100vw - 100%) - calc(2rem * 2) - 248px);
}

.inline-spacing>* {
	margin: 0 0.7rem 0 0 !important;
}

.form-label,
.col-form-label {
	font-size: 0.93rem;
}

.file-uploads.file-uploads-html5 input[type="file"] {
	overflow: hidden;
	position: fixed;
	width: 1px;
	height: 1px;
	z-index: -1;
	opacity: 0;
}

.tab-content-invisible {
	box-shadow: none !important;
    background: none !important;
    padding: 0px !important;
}

.table.small-padding > :not(caption) > * > * {
    padding: 0.625rem 0.25rem;
}
