<script setup>
  const props = defineProps({
    data: Object
  })
</script>

<template>
  <ul class="menu-sub">
    <li class="menu-item"
      v-for="(item, key) in data"
      :key="key"
      :class="{ 'active': item.active }"
    >
      <a class="menu-link"
        :href="route(item.route)"
      >
        <div>{{ item.label }}</div>
      </a>
    </li>
  </ul>
</template>
