<script setup>
  import MenuItemSub from "./MenuItemSub.vue"

  const props = defineProps({
    data: Object
  })
</script>

<template>
  <li class="menu-header small text-uppercase"
    v-if="data.navheader"
  >
    <span class="menu-header-text">{{ data.navheader }}</span>
  </li>
  <li class="menu-item"
    :class="{ 'active': data.active, 'open': data.active && data.submenu }"
  >
    <a class="menu-link"
      :href="data.route ? route(data.route): 'javascript:void(0);'"
      :class="{ 'menu-toggle': data.submenu }"
    >
      <i class="menu-icon tf-icons bx"
        :class="data.icon"
      ></i>
      <div>{{ data.label }}</div>
    </a>

    <MenuItemSub
      v-if="data.submenu"
      :data="data.submenu"
    ></MenuItemSub>

  </li>
</template>
