<script setup>
  const props = defineProps({
    data: Object
  })
</script>

<template>
  <li class="nav-item lh-1 me-3">
    <a
      :href="data.route"
      :target="data.target"
    >
      <i class="menu-icon tf-icons bx"
        :class="data.icon"
      ></i> {{ data.label }}
    </a>
  </li>
</template>
