<script setup>
  import Navbar from "./Components/AppLayoutNavbar.vue"
  import Footer from "./Components/AppLayoutFooter.vue"
</script>

<template>
  <Navbar></Navbar>
  <section class="mt-8">
    <slot></slot>
  </section>
  <Footer></Footer>
</template>
