<template>

  <div class="loader-wrapper img-gif">
    <img src="/frontend/assets/images/loader.gif" alt="">
  </div>

  <Footer></Footer>

  <div class="tap-top">
    <div>
      <i class="fas fa-angle-up"></i>
    </div>
  </div>
</template>

<script>
  import PreLoader from "./Components/PreLoaderSkeleton.vue"
  import Footer from "./Components/AppLayoutFooter.vue"

  export default {
    components: {
      PreLoader,
      Footer,
      Nav
    },

    setup () {
      // const router = getRouteRepositories()

      // provide("appDataProvider", { router })
    }
  }
</script>
