<template>
  <div class="modal fade" tabindex="-1" aria-hidden="true"
    :id="id"
  >
    <div class="modal-dialog modal-dialog-centered" role="document"
      :class="'modal-' + size"
    >
      <div class="modal-content">
        <div class="modal-header"
          v-if="! headerHide"
        >
          <h5 class="modal-title">
            <slot name="title"></slot>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            v-if="! closeBtnHide"
          ></button>
        </div>
        <hr class="mb-0">
        <div class="modal-body"
          :class="bodyClass"
        >
          <slot name="body"></slot>
        </div>
        <div class="modal-footer"
          v-if="! footerHide"
        >
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { useStorage } from '@vueuse/core'

  export default {
    emits: ['reset'],

    props: {
      id: String,
      size: {
        type: String,
        default: 'md'
      },
      bodyClass: {
        type: String,
        default: ''
      },
      headerHide: {
        type: Boolean,
        default: false
      },
      footerHide: {
        type: Boolean,
        default: false
      },
      closeBtnHide: {
        type: Boolean,
        default: false
      },
      backdrop: {
        type: Boolean,
        default: true
      }
    },

    data () {
      return {
        bsModal: ''
      }
    },

    mounted () {
      const modal = document.getElementById(this.id)

      modal.addEventListener('hidden.bs.modal', (event) => {
        this.reset()
      })

      this.bsModal = new bootstrap.Modal(modal)

      if (this.keepOpen) {
        const shown = useStorage(this.bsModal, false, sessionStorage)

        modal.addEventListener('hidden.bs.modal',  (event) => {
          shown.value = false
        })
        modal.addEventListener('shown.bs.modal',  (event) => {
          shown.value = true
        })

        if (shown.value) {
          this.bsModal.show()
        }
      }
    },

    methods: {
      hide () {
        this.bsModal.hide()
      },
      show () {
        this.bsModal.show()
      },
      reset () {
        this.$emit("reset")
      }
    }
  }
</script>
