<template>
  <div class="card">
    <h5 class="card-header">
      <slot name="head"></slot>
    </h5>

    <div class="table-responsive text-nowrap">
      <table class="table table-striped">
        <thead>
          <slot name="thead"></slot>
        </thead>
        <tbody class="table-border-bottom-0">
          <slot name="tbody"></slot>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <slot name="length"></slot>
      </div>
      <div class="col-sm-12 col-md-6">
        <slot name="pagination"></slot>
      </div>
    </div>
  </div>
</template>
