<template></template>

<script>
import { reactive, nextTick } from "vue"
import Swal from "sweetalert2"
export default {
  setup() {
    const toast = reactive({})
    return toast
  },

  data() {
    return {
      goto: ''
    }
  },

  mounted() {
    this.toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    })
  },

  watch: {
    "$page.props.flash.show": function () {
      if (this.$page.props.flash.show != undefined) {
        this.show = this.$page.props.flash.show
      }
    },
    "$page.props.flash.goto": function () {
      if (this.$page.props.flash.goto != undefined) {
        this.goto = this.$page.props.flash.goto
      }
    },
    '$page.props.flash.notify': {
      handler: function() {
        nextTick(() => {
          if (this.$page.props.flash.notify.success) {
            this.toast.fire({
              icon: 'success',
              title: this.$page.props.flash.notify.success
            })
            this.$page.props.flash.notify.success = null
          }

          if (this.$page.props.flash.notify.warning) {
            this.toast.fire({
              icon: 'warning',
              title: this.$page.props.flash.notify.warning
            })
            this.$page.props.flash.notify.warning = null
          }

          if (this.$page.props.flash.notify.error) {
            this.toast.fire({
              icon: 'error',
              title: this.$page.props.flash.notify.error
            })
            this.$page.props.flash.notify.error = null
          }
        })
      },
      immediate: true
    },
    '$page.props.flash.alert': {
      handler: function() {
        nextTick(() => {
          if (this.$page.props.flash.alert.success) {
            Swal.fire({
              title: this.$page.props.flash.alert.success,
              icon:'success',
              showConfirmButton: false,
              timer: 1500
            })
            this.$page.props.flash.alert.success = null
          }

          if (this.$page.props.flash.alert.warning) {
            Swal.fire({
              title: this.$page.props.flash.alert.warning,
              icon:'warning',
              showConfirmButton: true,
              confirmButtonText: '我知道了'
            })
            this.$page.props.flash.alert.warning = null
          }

          if (this.$page.props.flash.alert.error) {
            Swal.fire({
              title: this.$page.props.flash.alert.error,
              icon:'error',
              showConfirmButton: true,
              confirmButtonText: '我知道了'
            })
            this.$page.props.flash.alert.error = null
          }

          if (this.goto != '') {
            this.$inertia.get(this.goto)
            this.goto = ''
          }
        })
      },
      immediate: true
    },
    "$page.props.errors": {
      handler: function() {
        var errors = Object.values(this.$page.props.errors)
        if (errors.length > 0) {
          errors.forEach( error => {
            this.toast.fire({
              icon: 'error',
              title: error
            })
          })
        }
      }
    }
  }
}
</script>
