<script setup>
  import downArrowDarkUrl from '../../../../themes/material-kit/assets/img/down-arrow-dark.svg?url'
  import getRepositories from '@/Utils/repositories'

  const map = getRepositories('map')
</script>

<template>
  <li class="nav-item mx-2"
    v-for="page in map"
    :key="page.uuid"
  >
    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button"
      :href="page.url"
    >{{ page.title }}</a>
  </li>
</template>
