<script setup>

</script>

<template>
  <div class="d-none d-lg-block">
    <ul class="list-group">
      <li class="nav-item list-group-item border-0 p-0">
        <a class="dropdown-item py-2 ps-3 border-radius-md"
          href="https://www.creative-tim.com/learning-lab/bootstrap/overview/material-kit?_ga=2.137412405.465486239.1675749501-1197549987.1672282966"
        >
          <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
          >購買說明</h6>
          <span class="text-sm">付款方式、出貨及配送、退換貨須知</span>
        </a>
      </li>
      <li class="nav-item list-group-item border-0 p-0">
        <a class="dropdown-item py-2 ps-3 border-radius-md"
          href="https://www.creative-tim.com/learning-lab/bootstrap/overview/material-kit?_ga=2.137412405.465486239.1675749501-1197549987.1672282966"
        >
          <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
          >服務及隱私政策</h6>
          <span class="text-sm">服務條款及隱私權聲明</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="row d-lg-none">
    <div class="col-md-12 g-0">
      <a class="dropdown-item py-2 ps-3 border-radius-md"
        href="../../pages/about-us.html"
      >
        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
        >購買說明</h6>
        <span class="text-sm">付款方式、出貨及配送、退換貨須知</span>
      </a>
      <a class="dropdown-item py-2 ps-3 border-radius-md"
        href="../../pages/about-us.html"
      >
        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
        >服務及隱私政策</h6>
        <span class="text-sm">服務條款及隱私權聲明</span>
      </a>
    </div>
  </div>
</template>
