<template>
  <div class="skeleton_loader">
    <header class="light_header">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="menu">
              <div class="brand-logo">
                <a href="../index.html">
                  <img
                    src="/frontend/assets/images/icon/footer-logo.png"
                    alt=""
                    class="img-fluid blur-up lazyload"
                  />
                </a>
              </div>
              <nav>
                <div class="main-navbar">
                  <div>
                    <div class="toggle-nav">
                      <i class="fa fa-bars sidebar-bar"></i>
                    </div>
                    <div class="menu-overlay"></div>
                    <ul class="nav-menu">
                      <li class="dropdown">
                        <a href="#" class="nav-link menu-title">Home</a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="nav-link menu-title">hotel</a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="nav-link menu-title">tour</a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="nav-link menu-title">flight</a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="nav-link menu-title">cab</a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="nav-link menu-title">restaurant</a>
                      </li>
                      <li class="mega-menu">
                        <a href="#" class="nav-link menu-title"> pages</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              <ul class="header-right">
                <li class="front-setting">
                  <select>
                    <option value="volvo">USD</option>
                    <option value="saab">EUR</option>
                    <option value="opel">INR</option>
                    <option value="audi">AUD</option>
                  </select>
                </li>
                <li class="front-setting">
                  <select>
                    <option value="volvo">ENG</option>
                    <option value="saab">FRE</option>
                    <option value="opel">SPA</option>
                    <option value="audi">DUT</option>
                  </select>
                </li>
                <li class="user user-light">
                  <a href="#">
                    <i class="fas fa-user"></i>
                  </a>
                </li>
                <li class="setting">
                  <a href="#">
                    <i class="fas fa-cog"></i>
                  </a>
                  <ul class="setting-open">
                    <li class="front-setting">
                      <select>
                        <option value="volvo">USD</option>
                        <option value="saab">EUR</option>
                        <option value="opel">INR</option>
                        <option value="audi">AUD</option>
                      </select>
                    </li>
                    <li class="front-setting">
                      <select>
                        <option value="volvo">ENG</option>
                        <option value="saab">FRE</option>
                        <option value="opel">SPA</option>
                        <option value="audi">DUT</option>
                      </select>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="single-section small-section bg-inner">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="hotel_title_section">
              <div class="hotel-name">
                <div class="left-part">
                  <div class="top">
                    <h2></h2>
                    <div class="rating"></div>
                    <div class="share-buttons">
                      <div class="ldr-btn"></div>
                      <div class="ldr-btn"></div>
                    </div>
                  </div>
                  <p></p>
                  <div class="facility-detail">
                    <div></div>
                    <div></div>
                  </div>
                </div>
                <div class="right-part">
                  <h2 class="price"></h2>
                  <div class="ldr-btn d-none d-sm-block"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-9 col-lg-8">
            <div class="image_section">
              <div class="row">
                <div class="col-sm-8 left">
                  <div class="ldr-img"></div>
                </div>
                <div class="col-sm-4 right d-none d-sm-block">
                  <div class="row">
                    <div class="col-12">
                      <div class="ldr-img"></div>
                      <div class="ldr-img"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="description-section tab-section">
              <div class="menu-top">
                <ul class="nav nav-tabs">
                  <li>
                    <a class=""></a>
                  </li>
                  <li>
                    <a class=""></a>
                  </li>
                  <li>
                    <a class=""></a>
                  </li>
                  <li>
                    <a class=""></a>
                  </li>
                  <li>
                    <a class=""></a>
                  </li>
                  <li>
                    <a class=""></a>
                  </li>
                </ul>
                <div class="description-details tab-content">
                  <div class="menu-part tab-pane fade show active">
                    <table class="rooms-box">
                      <tr>
                        <td>
                          <h6 class="room-title"></h6>
                          <div class="zoom-gallery"></div>
                        </td>
                        <td>
                          <div class="room-detail">
                            <div class="row">
                              <div class="col-6 p-0">
                                <h6></h6>
                                <div class="facility-detail">
                                  <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-6 p-0">
                                <h6></h6>
                                <div class="facility-detail">
                                  <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="price-details">
                            <div>
                              <h6></h6>
                              <h5></h5>
                              <div class="ldr-btn"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h6 class="room-title"></h6>
                          <div class="zoom-gallery"></div>
                        </td>
                        <td>
                          <div class="room-detail">
                            <div class="row">
                              <div class="col-6 p-0">
                                <h6></h6>
                                <div class="facility-detail">
                                  <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-6 p-0">
                                <h6></h6>
                                <div class="facility-detail">
                                  <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="price-details">
                            <div>
                              <h6></h6>
                              <h5></h5>
                              <div class="ldr-btn"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h6 class="room-title"></h6>
                          <div class="zoom-gallery"></div>
                        </td>
                        <td>
                          <div class="room-detail">
                            <div class="row">
                              <div class="col-6 p-0">
                                <h6></h6>
                                <div class="facility-detail">
                                  <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-6 p-0">
                                <h6></h6>
                                <div class="facility-detail">
                                  <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="price-details">
                            <div>
                              <h6></h6>
                              <h5></h5>
                              <div class="ldr-btn"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4">
            <div class="">
              <div class="single-sidebar">
                <div class="selection-section">
                  <div class="overlay-map"></div>
                  <div class="price-part">
                    <div class="left-part">
                      <div class="ldr-link"></div>
                      <span class="mt-2"></span>
                      <span></span>
                    </div>
                    <div class="right-part">
                      <span></span>
                      <p></p>
                      <h6></h6>
                    </div>
                  </div>
                  <div class="book-btn-section">
                    <div class="ldr-input"></div>
                    <div class="ldr-input"></div>
                    <div class="ldr-input"></div>
                    <div class="ldr-input"></div>
                    <div class="ldr-btn"></div>
                  </div>
                </div>
              </div>
              <div class="single-sidebar">
                <h6 class="contact-title"></h6>
                <p class="address">
                  <span></span>
                  <span></span>
                </p>
                <p class="address">
                  <span></span>
                </p>
                <p class="address">
                  <span></span>
                </p>
                <div class="social-box"></div>
                <div class="bottom_sec">
                  <h6></h6>
                  <h6></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
