<script setup>
  import { computed } from 'vue'
  const props = defineProps({
      errors: Object
  })

  const errors = computed(() => props.errors)
  const hasErrors = computed(() => props.errors ? Object.keys(props.errors).length > 0 : false)
</script>

<template>
  <div class="alert alert-danger mt-1 alert-validation-msg" role="alert"
    v-if="hasErrors"
  >
    <div class="alert-body"
      v-for="(error, key) in errors" :key="key"
    >
      <i class='bx bx-info-circle'></i>
      <span>{{ error }}</span>
    </div>
  </div>
</template>
